body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.image-slider {
    display: flex;
    animation: slide 30s infinite linear;
}

.image-slider img {
    width: 12.7cm; /* 大约5英寸宽 */
    height: 17.78cm; /* 大约7英寸高 */
   /* object-fit: cover;*/
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-2520px); /* Move left the total width of all images */ }
}

.happy-birthday-text {
    position: absolute;
    font-size: 3em;
    color: red; /* 设置文字颜色为红色 */
    animation: flip 5s infinite;
}

@keyframes flip {
    from { transform: rotateY(0); }
    to { transform: rotateY(360deg); }
}

.celestial span {
    font-size: 2em;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}
